---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.feature__item--full-width {

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(12 of 12);
  }

}

nav .site-title {
  font-family: 'Montserrat', sans-serif;
}

nav .visible-links {
  font-family: 'Montserrat', sans-serif;
}

body, h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

.archive__item-title {
  font-family: 'Montserrat', sans-serif;
}

a.disabled {
  color: grey;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}